{% extends 'layout.html' %}

{% block content %}
  <section class="enter chat-section container-fluid">
    <div class="row" style="">
      <div class="col-3">
        <div class="sidenav">
          <span class="client-hello">Olá {{username}}! </span>
          <p class="room-title"> Sala </p>

          <div id="user-list-el">
            {% for c in clients %}
              <span id="{{c}}" class="user-list"><span class="user-icon far fa-dot-circle"></span> {{c}} <span class="notify-dot badge bg-danger rounded-pill" data-notify=""></span> </span>
              
            {% endfor %}
          </div>
        </div>
      </div>
      

      <!-- Construir janelas de conversas -->
      <div id="chat-area" class="col-9">
      
        <div id="chat-window" class="chat-window" data="client">
          <div class="chat-header">
            <h5>Client</h5>
          </div>

          <div class="chat-body">
            
            <div class="chat-msg client-msg">
              <p> client msg </p>
              <p class="text-muted msg-hour">22:14</p>
            </div>

            <div class="chat-msg your-msg">
              <p> your msg </p>
              <p class="text-muted msg-hour">22:16</p>
            </div>



          </div>

          <div class="chat-sender">
            <div class="input-group">
              <button class="input-group-text"><span class="fas fa-paper-plane"></span></button>
              <textarea class="form-control" aria-label=""></textarea>
            </div>            
          </div>

        </div>
      
      </div>
    
    </div>
  </section>
  
  
  
  <script>
    /*--- Inicializa conexão via socket ----- */
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var lobby_socket = io('http://' + document.domain + ':' + location.port + '/lobby');
    /*--- nome do usuário cliente ----*/
    var username = {{username|tojson}};

    /*--- atualiza conexão do cliente ----*/
    lobby_socket.emit('connect_lobby', "{{username}}")
    
    /*--- recebe a atualização do servidor com a lista de usuários ativos ----*/
    lobby_socket.on('update', data => {
      update_lobby(data.clients, username);      
    });
    
    /*---- envia msg para um cliente do lobby ----*/
    function send_message(client) {
      date = `${String(new Date().getHours()).padStart(2, '0')}:${String(new Date().getMinutes()).padStart(2, '0')}`;
      msg = $(`[data-send="${client}"]`).val();

      console.log('click');
      console.log(msg);
      
      lobby_socket.emit('send_message', {'client': client, 'message': msg, 'date': date});
      
      //exibe a mensagem enviada no chat
      append_msg(client, msg, date, 'send');
      
      $(`[data-send="${client}"]`).val("");
    }

    /*---- Trata as msgs recebidas pelo cliente  ----*/
    lobby_socket.on('new_message', data => {
      //alert(msg);
      append_msg(data.client, data.msg, data.date, 'recieve');
    });

    

    //informa o servidor que o cliente desconectou
    window.onbeforeunload = function() {
      lobby_socket.emit('disconnect');
    }

  </script>  
  <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}