{% extends 'layout.html' %}

{% block content %}
  <section class="enter chat-section">
    <p>{{clients}}</p>

  
  </section>

  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    
    var lobby_socket = io('http://' + document.domain + ':' + location.port + '/lobby')

    lobby_socket.on('update', data => {
      alert(data.clients);
    });

    /*
    $("#enterBtn").on('click', e => {
      if (!$('#username').val()) {
        alert('Insira um nome para entrar');
      }else {
        socket.emit('username', $('#username').val());
      }
    
    });

    socket.on('enter_error', msg => {
      alert(msg);
      $('#username').val("");
    });
    */
  </script>


{% endblock %}